body{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    background: #050801;
    font-family: 'Raleway', sans-serif;
}
.container{
    margin: auto;
    align-items: center;
    
}
.heading{
    font-size: 70px;
    font-weight: 600;
    color: #fdfdfe;
    text-shadow: 0px 0px 5px #b393d3, 0px 0px 10px #b393d3, 0px 0px 10px #b393d3,
      0px 0px 20px #b393d3;
}
.row{
    margin: auto;
    text-align: center;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #da5cc5;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    border-radius: 5px;
    /* box-shadow: 0px 0px 5px #b393d3, 0px 0px 10px #b393d3, 0px 0px 10px #b393d3,
    0px 0px 20px #b393d3; */
}
  input[type=text]:focus {
    box-shadow: 0px 0px 5px #b393d3, 0px 0px 10px #b393d3, 0px 0px 10px #b393d3,
    0px 0px 20px #b393d3;
    
} 
.button{
    padding: 25px 30px;
    background-color: #296596;
    color: #03e9f4;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    letter-spacing: 4px;
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
  }
  
  .button:hover{
      background: #03e9f4;
      color: #050801;
      box-shadow: 0 0 5px #03e9f4,
                  0 0 25px #03e9f4,
                  0 0 50px #03e9f4,
                  0 0 200px #03e9f4;
       -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
  }
  .list{
    color: rgb(91, 209, 12);
    text-shadow: 0px 0px 5px #6cce2b, 0px 0px 10px #5cd623, 0px 0px 10px #a0d393,
      0px 0px 20px #a2d393;
    font-size: 30px;
  }
